<div class="header">
  <h1 id="tableLabel">
  InfiniTicTacToe - Infinite Tic-Tac-Toe Game
</h1>
</div>

<div class="description">
<p>
  This is a game of tic-tac-toe, but it is played on an infinite board.
  The goal is to get 5 in a row, but the board is infinite, so you can play in any direction.
  The game is played by two players, who take turns placing their mark on the board.
  When a player gets 5 in a row, they get a point and the game is continued.
  Crossed out cells are not allowed to be played again.
</p>
</div>

<app-game></app-game>
